html,
body,
#__next {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0px;
}

textarea,
button {
    outline: none;
}

h1 {
    margin: 0px;
}

@media (max-width: 26.25em) {
    h1 {
        font-size: 1.875em;
    }
}

a {
    text-decoration: none !important;
}

/* Classes */
.header {
    height: 10%;
}

.icon-sm {
    height: 70px;
}

.ff-mono {
    font-family: 'Courier New', Courier, monospace !important;
}
.detail {
    font-size: small;
    color: grey;
}

.font-sm {
    font-size: small;
}

.font-xl {
    font-size: x-large;
}
